@font-face {
  font-family: 'Phantom Sans';
  src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff')
      format('woff'),
    url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff2')
      format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Phantom Sans';
  src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Italic.woff')
      format('woff'),
    url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Italic.woff2')
      format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Phantom Sans';
  src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff')
      format('woff'),
    url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff2')
      format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
    font-family: 'Phantom Sans', sans-serif;
    background-image: linear-gradient(#0d0d0dff, #000000);
}

h1 {
    text-align: center;
    font-size: 4.75em;
    font-style: bold;
    color: #ffffff; 
    text-decoration: underline;
}

h1:hover {
    animation: hovering 0.5s ease-in-out infinite alternate;
    text-shadow: 4px 4px 8px #000000;
}

h2 {
    text-align: right;
    font-size: 2em;
    color: #ffffff;
    margin-left: 15em;
    font-style: italic;
    animation: wobble 1s ease-in-out infinite alternate;
}

h3 {
    color: #ffffff;
    text-align: center;
    font-size: 5em;
    margin-left: 1em;
    font-style: italic;
    animation: flicker 1s infinite alternate;
}

img:hover {
    animation: hovering 0.2s ease-in-out infinite alternate;
}

a {
    color: #f1c40f;
}

p {
    color: #ffffff;
    text-align: center;

}
p1 {
    font-size: 1.75em;
    text-align: center;
    line-height: 1.5;
    margin-top: 2em;
}

p2 {
    color: #ffffff;
}

p3 {
    font-size: 1.5em;
}

li {
    color: #f1c40f;
    font-size: 1.75em;
    line-height: 2;
    text-decoration: underline;
}

model-viewer {
    width: 600px;
    height: 600px;
    
}

.introduction {
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
    margin: 3em;
    border-radius: 10px;
    border: 5px solid #ffffffff;
    padding: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}


.section {
    color: #ffffff;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    padding-left: 1em;
    padding-right: 1em;
}

.pcb {
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
    background-image: url("assets/cuttingmat.jpg");
    margin-top: 2em;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.examples {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



@keyframes hovering {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(1.05);
        opacity: 0.8;
        color: #f1c40f;
    }
}

@keyframes wobble {
    0% {
        transform: rotate(0deg);
        color: #f1c40f;
    }
    50% {
        transform: rotate(15deg);
        color: #0f7cf1ff;
    }
    100% {
        transform: rotate(-15deg);
        color: #f45240ff;
    }
}

@keyframes flicker {
    0% {
        opacity: 1;
    }
    50% {
        color:#a633d6;
    }
    100% {
        opacity: 0.5;
    }
}